<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TARGETDIR">
        	<Directory Id="CommonAppDataFolder">
        		<Directory Id="Autodesk" Name="Autodesk">
        			<Directory Id="REVIT" Name="REVIT">
        				<Directory Id="Addins" Name="Addins">
        					<Directory Id="Revit2017" Name="2017">
        						<Component Id="FileUpgrader" Guid="8F7F6C0E-6D74-4FCD-A75C-61CB2D71268D" DiskId="1" Win64="yes">
        							<File Id="ADNPlugin_FileUpgrader.dll" Name="ADNPlugin-FileUpgrader.dll" Source="..\Source\bin\Release\ADNPlugin-FileUpgrader.dll" />
        							<File Id="ADNPlugin_FileUpgrader.addin" Name="ADNPlugin-FileUpgrader.addin" Source="..\ADNPlugin-FileUpgrader.addin" />
        						</Component>
        					</Directory>
        				</Directory>
        			</Directory>
        		</Directory>
        	</Directory>
        </DirectoryRef>
    </Fragment>
</Wix>
